html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.rhombus {
    border: 1px solid #000;

    transform: skewX(-20deg);
    height: 100%;
}

.rhombus p {
    -webkit-transform: skewX(20deg);
    text-align: center;
    padding-top: 2px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    /* width: 60%; */
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid;
}

.separator:not(:empty)::before {
    margin-right: 0.25em;
}

.separator:not(:empty)::after {
    margin-left: 0.25em;
}
